$breakpoint : 767px;

$fontBase : "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic", Meiryo, sans-serif;
$fontMontserrat : 'Montserrat', sans-serif; //proxima nova alternate
$fontOpenSans : 'Open Sans', sans-serif;
$fontVarela : 'Varela Round', sans-serif;